@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 style="font-family:'Brush Script MT'" class="display-4"><b>Dobrodošli na E-Parcelu</b></h1>
    <img width="100%"src="https://poljoprivreda.gov.hr/userdocsimages//arhiva/datastore/imagestore/780x400/780x400_1510909819field-2572133_1920.jpg?width=1500&height=1000&mode=max" alt="llll" />
</div>


